$pad: 50px;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Damion);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: normal 16px/1.4 'Lato',sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.navicon {   
  position: fixed;  
  top: 20px;
  right: 20px;
  width: 34px;
  height: 30px;
  
  &:hover {
    cursor: pointer;
  }
  
  &:before,
  i,
  &:after {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 6px;
  }
  
  &.blue {
    &:before,
    i,
    &:after {
      background: #13abdb;
    }
  }
  
  i {
    margin: 6px 0;
    text-indent: -999em;
  }
}

.menu {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  padding: $pad;
  background: #5e5e5e;
  color: #fff;
  display: none;
  z-index: -1;
}

header {
  /*background: linear-gradient(5deg, #036564, #033649);*/
  background: linear-gradient(to top right, #314693, #38c4dd);
  padding: ($pad*2) $pad;
  margin-bottom: ($pad*1.5);
  
  h1 {
    margin: 0 auto;
    font-family: 'Damion',cursive;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(255,255,255,.5);
    padding: 10px;
    line-height: 1;
    width: 234px;
  }
}

.page-container {
  transition: all .2s;
  background-color: #fff;
  
  &.show-menu {
    transform: translate(-350px,0);
  }
}

.work {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1200px;
  
  @media(max-width: 1280px){
    max-width: 1000px;
  }
  
  @media(max-width: 1080px){
    max-width: 800px;
  }
  
  @media(max-width: 880px){
    max-width: 100%;
  }
  
  li {
    &:nth-of-type(even){
      figure {
        img {
          float: right;
        }

        figcaption {
          float: left;

          &>div {
            margin-right: $pad;
          }
        }
      }
    }
    
    &:nth-of-type(odd){
      figure {
        img {
          float: left;
        }

        figcaption {
          float: right;

          &>div {
            margin-left: $pad;
          }
        }
      }
    }
    
    &:not(:last-of-type) {
      margin-bottom: ($pad*1.5);
    }
  }
  
  figure {
    margin: 0;
    overflow: hidden; /* cf */
      
    img {
      display: block;
      width: 50%;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #f3f3f3;
    }
    
    figcaption {
      overflow: hidden; /* cf */
      width: 50%;
      
      &>div {
        padding: 20px 0;
        border-bottom: 1px solid #f3f3f3;
        
        &:first-of-type {
          padding-top: 0;
        }
        
        &:last-of-type {
          padding-bottom: 0;
          border: none;
        }
        
        .label {
          font-weight: 700;
          
          &:after {
            content: ":";
          }
        }
        
        .label, .value {
          display: inline-block;
        }
        
        a.button {
          display: inline-block;
          text-decoration: none;
          padding: 15px 25px;
          color: #fff;
          border-radius: 4px;
          font-size: 1.2em;
          background: #13abdb linear-gradient(0deg, #13abdb, lighten(#13abdb, 10%));
          transition: all 0.1s linear;
          
          &:hover {
            background-image: none;
          }
        }
      }
    }
  }
}

footer {
  background: #444;
  color: #fcfcfc;
  padding: $pad;
  margin-top: ($pad*1.5);
  
  .inner {
    max-width: 502px;
    text-align: center;
    margin: 0 auto;
  
    a {
      color: inherit;
      
      &.button {
        display: inline-block;
        margin-top: ($pad*0.5);
        padding: 15px 25px;
        border: 1px solid #fff;
        border-radius: 4px;
        font-size: 1.2em;
        text-decoration: none;
        transition: all 0.1s linear;
        
        &:hover {
          background-color: #fff;
          color: #444;
        }
      }
    }
  }
}